{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Mystery Books!!!{% endblock %}</title>
</head>
<body background="{% static 'base/img/header_full.jpg' %}">
{% block content %}
{% if request.user.is_authenticated %}
    <h4>Welcome, {% if request.user.first_name %}
        {{request.user.first_name}}
        {% else %}
        {{request.user.username}}
        {% endif %}! <a href="{% url 'auth_logout' %}">Logout</a>
    </h4>
{% else %}
    <h4>Welcome BookAppLover,would you like to <a href="{% url 'auth_login' %}">Login</a></h4>
{% endif %}
This is my Store!!! and there are {{ count }} books in my stock. User Location: {{ request.session.location }}
{% endblock %}
</body>
</html>
