<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
//-->
<!--{% extends 'base.html' %}

{% block content %}
<h1>Thanks registering with our BookApp.You'll recieve the activation email shortly!</h1>
{% endblock %}//-->
<!--
</body>
</html>
//-->

{% extends 'base.html' %}

{% block body %}
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Registration Complete</div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <span>Thanks registering with our BookApp.You'll recieve the activation email shortly!</span>
                </div>
            </div>
    </div>
{% endblock %}