<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.css' %}" />
    </head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://medium.com/@thirtysixlabs/what-is-polling-why-is-public-opinion-important-441ab662b59a
">Know Importance of Polling Here</a>
        </div>
    </nav>
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h3 align="center" class="text-primary">Happy Polling</h3>
        <hr style="border-top:10px dotted white;"/>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>